main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /* background-color: transparent; */
    opacity: 0.8;
}

div {
    margin: 20px;
}

.solid-div {
    opacity: none;
    background-color: #fff;
    border: 3px solid #2e175d;
}

.tick-btn {
    padding: 10px;
    border: 3px solid #2e175d;
    /* border: 3px solid #fff; */
    border-radius: 30px;
    background-color: transparent;
    color: #2e175d;
    /* color: #fff; */
    transition: all 0.3s ease;
}

.tick-btn:hover {
    background-color: #2e175d;
    color: #fff;
    transform: scale(1.2);
}

.tick-btn:active {
    background-color: orange;
    color: #2e175d;
    transform: scale(0.8);
}