/* this styles the layout.html file */
body {
    background-color: #c0c0c0;
    padding: 0;
    margin: 0;
}

/* Body Background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/bg-2.jpeg'); /* Path to your body background image */
    background-size: cover;
    background-attachment: fixed; /* Keeps the background static when scrolling */
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

/* styles for header.css */
nav {
    display: flex;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

nav img {
    height: 50px;
    width: 50px;
}

nav img:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
}

nav img:active {
    transition: all 0.3s ease;
    transform: scale(0.8);
}

.divHead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.divHead h1 {
    color: #260049;
    font-size: 30px;
    margin: 5px;
}
nav {
    background-color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 15px;
    font-size: 90%;
}

nav ul li a,
.edit_profile {
    color: #2E175D;
    text-decoration: none;
}

nav ul li,
.edit_profile {
    margin: 8px, 0;
    text-align: center;
    width: 80%;
    padding: 6px 10px;
    transition: #2E175D 0.5s ease, #fff 0.3s ease;
    position: relative;
    margin: 5px;
    border-radius: 15px;
}

nav ul li:hover,
.edit_profile:hover {
    background-color: #2E175D;
    border-radius: 15px;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

nav ul li:hover a,
.edit_profile:hover {
    color: #fff;
}

nav ul li:active,
.edit_profile:active {
    background: #ffa500;
    transform: scale(0.81);
    transition: all 0.3s ease;
}

nav ul li a {
    color: #2E175D;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
}


/* Flash message styling */
.flash-message {
    /* display: flex; */
    position: fixed;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    text-align: center;
    background-color: #f0f4c3; /* Light background */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.flash-message .alert {
    color: #444;
    font-size: 16px;
    margin-bottom: 5px;
    
}

.flash-message .alert:last-child {
    margin-bottom: 0;
}

/* .message {
    justify-content: center;
    align-content: center;
    text-align: center;
} */

main {
    background-color: #fff;
    color: #260049;
    width: 80%;
    margin: 10px 10%;
    padding: 10px;
    min-height: 100vh;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.edit_profile {
    border: 2px solid #2E175D;
}

/* footer section */
footer {
    display: flex;
    height: 70px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #260049;
    color: #fff;
    align-content: center;
    justify-content: center;
}

footer p:hover {
    color: #0f0;
}

.user_profile,
.user_profile a {
    background-color: #2E175D;
    color: #fff;
    border-radius: 45%;
}

.user_profile:hover {
    background-color: #000080;
    color: #2E175D;
}