<!-- this is the header component -->
{% block header %}
<link rel='stylesheet' href="{{ url_for('static', filename='header.css') }}" />
{% endblock %}
{% block contents %}
<nav>
    <div class='divHead'>
        <img src="{{ url_for('static', filename='./images/logo.png') }}" alt="brand logo">
        <h1>CYBERSFORTH - X</h1>
    </div>
    <div>
        <ul class='nav-links'>
            <li>
                <a href="{{ url_for('routes.Home') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('routes.About') }}">About</a>
            </li>
            <li>
                <a href="{{ url_for('routes.Ticket_page') }}">Services</a>
            </li>
            <li>
                <a href="{{ url_for('routes.View_tickets') }}">Tickets</a>
            </li>
            <li>
                <a href='#'>Contacts</a>
            </li>
            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('routes.Logout') }}" >Logout</a>
                </li>
                <li class='user_profile'>
                    <a href="{{ url_for('routes.Dashboard') }}" >{{ current_user.username }}</a>
                </li>
            {% else %}
            <li>
                <a href="{{ url_for('routes.Login') }}" >Login</a>
            </li>
            <li>
                <a href="{{ url_for('routes.Register') }}" >Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock contents %}
