<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CYBERSFORTH - {% block title %} HOME {% endblock %} - UTAABS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/layout.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <header>
        {% include 'header.html' %}
        </header>

        <main>
            <div class='message'>
                <!-- Flash Messages -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="flash-messages" class="flash-message">
                           {% for message in messages %}
                               <div class="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            
            {% block contents %}

            {% endblock %}
        </main>

        {% include 'footer.html' %}
        <script src="{{ url_for('static', filename='./js/index.js') }}"></script>
    </body>
</html>