{% extends 'layout.html'%}
{% block title %} REGISTER {% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}">
{% endblock %}
{% block contents %}
<div class='login_cls'>
    <!-- <h3>Login</h3> -->
    <form>
        <legend><b>Sign up</b></legend>
        <p>Username</p>
        <input type="text" required /><br />

        <p>Email</p>
        <input type="email" required />

        <p>Phone Number</p>
        <input type="number" required />

        <p>Firstname</p>
        <input type="text" required />

        <p>Lastname</p>
        <input type="text" required />

        <p>Password</p>
        <input type="password" required /> <br />

        <button type="submit">Sign up</button> <br>

        <p>alraedy have an account? <a href="{{ url_for('routes.Login') }}">login</a></p>
    </form>
</div>
{% endblock %}