{% extends 'layout.html' %}

{% block title %}View Appointments{% endblock title %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/view_appointments.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='./css/view_tickets.css') }}" />
{% endblock header %}

{% block contents %}
    <div>
        <h1>View Appointments</h1>

        {% if appointments %}
        <table border='1'>
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Purpose</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ appointment.time.strftime('%H:%M') }}</td>
                    <td>{{ appointment.purpose }}</td>
                    <td>{{ appointment.status }}</td>
                    <td>
                        <a class='ticket_action' href="{{ url_for('routes.reschedule_appointment', appointment_id=appointment.id) }}">Reschedule</a>
                        <a class='ticket_action' href="{{ url_for('routes.cancel_appointment', appointment_id=appointment.id) }}" onclick="return confirm('Are you sure you want to cancel this appointment?')">Cancel</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No appointments found.</p>
        {% endif %}
    </div>
{% endblock contents %}